body {
  font-family: Roboto;
  margin: 0;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a:link {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.hero {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  padding-left: 120px;
  padding-right: 120px;
}

.hero-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px; 
}

.header-links {
  display: flex;
  gap: 16px;
  padding: 8px;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  flex: 1 1 0px;
  padding-bottom: 100px;
  gap: 20px;
}

.hero-text {
  display:flex;
  flex-direction: column;
  width: 50%;
}

.hero-title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 800;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 600;
}

.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 8px; 
}

.hero-button {
  color: #e5e7eb;
  background-color: #3882f6;
  border-style: none;
  border-radius: 8px;
  width: 120px;
  height: 30px;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 8px;
}

.hero-img {
  background-color: #6d737c;
  color: #e5e7eb;
  display: flex;
  align-items: center;
  padding: 20px;
  width: 50%;
  justify-content: center
}

.info-header {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937
}

.info-text {
  font-size: 18px;
}

.info-img {
  border: 2px solid #3882f6;
  height: 100px;
  width: 100px;
  border-radius: 15px;
}

.quote {
  background-color: #e5e7eb;
}

.quote-text {
  font-style: italic;
  font-weight: 200;
  font-size: 36px;
}

.quote-author {
  font-size: 20px;
  font-weight: 500;
}

.action {
  background-color: #3882f6;
}

.action-head {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 600;
}

.action-body{
  color: #e5e7eb;
  font-size: 18px;
}

.action-button {
  background-color: #3882f6;
  border-color: #f9faf8;
  border-style: solid;
  color: #f9faf8;
  border-radius: 8px;
  width: 120px;
  height: 30px;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
}

.footer {
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 14px;
}